<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=game.title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/specGame.css" />
  </head>
  <body>
    <div class="container">
      <span>Current Game: <%=game.id%></span>
      <span>Title: <%=game.title%></span>
      <span>Description: <%=game.description%></span>
      <span>Price: <%=game.price%></span>
      <a href="/games"> <button>Return</button></a>
    </div>
  </body>
</html>
