<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=metaTitle%></title>
    <script src="/javascripts/RequestManager.js"></script>
  </head>
  <body>
    <a href="/products/addProduct">Add Product</a>
    <div class="products-container">
      <%if(products.length>0){%>
      <table border="1px">
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
        <%for (const product of products){%>
        <tr>
          <td><%=product.title%></td>
          <td><%=product.price%></td>
          <td><%=product.amount%></td>
          <td>
            <button
              onclick="RequestManager.deleteRequest('/products', {id: '<%=product.id%>'}, function(){window.location.reload()})"
            >
              Delete
            </button>
          </td>
        </tr>
        <%}%>
      </table>
      <%} else {%>
      <span>There are no products at this moment</span>
      <%}%>
    </div>
  </body>
</html>
